@use './variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}
